@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;

}

.container {
    position: sticky;
    top: 0;
    background-color: white;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



.flex {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}


ul {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;


}

.left img {
    width: 95px;
    height: 55px;
    margin: 10px 40px 10px 40px;

}




li {
    float: left;
    list-style: none;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 30px 25px 30px 5px;
    font-size: medium;

}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 35px;


}


.searchBar {
    height: 27px;
    width: 380px;
    margin-right: 40px;
    padding-left: 12px;
}

.rightBox {
    display: flex;
    flex-direction: row;
    margin: 0;
    
}

.profile {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 30px 25px 30px 5px;
    font-size: medium;
}

.wishlist {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 30px 25px 30px 5px;
    font-size: medium;
}

.bag {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 30px 25px 30px 5px;
    font-size: medium;
}

.section1 {
    background-color: #ebebeb;


}

.homeImg {
    padding: 0 48px;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 20px;
}

.mid-section {
    width: 100%;
    margin: 25px 0 20px 0;
}

.last-section {
    width: 100%;
    margin: 18px 0 16px 0;

}

.item-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
}

.item-img {
    margin: 10px 17px 30px 17px;
    width: 12%;
    border-radius: 18px;

}

.footer {
    padding: 25px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



@media screen and (max-width: 500px) {

    .flex {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .left {
        display: flex;
        flex-direction: row;
    }

    div.left img {

        height: 45px;
        margin-top: 12px;
        margin-left: 0;
        margin-right: 0px;
    }

    li {
        font-size: 14px;
        padding: 22px 4px;

    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .searchBar {
        margin: 0 67px 0 100px;
        width: 335px;
    }

    .rightBox {
        display: flex;
        flex-direction: row;
        margin: -10px;
    }

    .homeImg {
        padding: 0;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 5px;
        height: 200px;
    }

    .mid-section {
        width: 100%;
        margin: 10px 0 5px 0;
        height: 110px;
    }

    .last-section {
        width: 100%;
        margin: 10px 0 0px 0;
        height: 100px;
    }

    .item-img {
        margin: 10px 10px 10px 13px;
        width: 18%;
        border-radius: 4px;
    }

}